<section class="grid grid-3col">
    <h2>
        Civil Abilities
        {{ifThen system.attributes.unspentCivil (concat "(Unspent: " (numberFormat
        system.attributes.unspentCivil sign=true) ")") ""}}
    </h2>
    <aside class="sidebar">
        <div class="abilities flexcol">
            {{#each system.civil as |ability key|}}
            <div class="ability flexrow flex-group-center"
                style="background-color: {{#with (lookup ../config.civilSkills key)}}{{color}}{{/with}}">
                <label for="system.civil.{{key}}.base" data-tooltip="CELESTUS.abilityDescriptions.{{key}}"
                    class="resource-label maxwidth-label ability-roll flexlarge align-left" data-label="{{key}}">
                    {{#with (lookup ../config.civilSkills key)}}
                    <i class="{{glyph}}"> </i>{{label}}
                    {{/with}}
                </label>
                <input type="number" name="system.civil.{{key}}.base" value="{{ability.base}}" data-dtype="Number" />
                <span class="math">
                    {{numberFormat ability.bonus decimals=0 sign=true}} = {{ability.value}}
                </span>
            </div>
            {{/each}}
        </div>
    </aside>
    <h2>
        Combat Abilities
        {{ifThen system.attributes.unspentCombat (concat "(Unspent: " (numberFormat
        system.attributes.unspentCombat sign=true) ")") ""}}
    </h2>
    {{!-- weapon abilities --}}
    <b>Fighting Styles</b>
    <aside class="sidebar">
        <div class="abilities flexcol">
            {{#each actor.system.combatAbilities.weapon as |ability key|}}
            <div class="ability flexrow flex-group-center"
                style="background-color: var(--color-{{#with (lookup ../config.combatSkills ability.[0])}}{{damage}}{{/with}}-bg)">
                <label for="system.combat.{{ability.[0]}}.base" data-tooltip="CELESTUS.abilityDescriptions.{{ability.[0]}}"
                    class="resource-label maxwidth-label ability-roll flexlarge align-left"
                    data-label="{{ability.[0]}}">
                    {{#with (lookup ../config.combatSkills ability.[0])}}
                    <i class="{{glyph}}"></i>{{label}}
                    {{/with}}
                </label>
                <input type="text" name="system.combat.{{ability.[0]}}.base" value="{{ability.[1].base}}"
                    data-dtype="Number" />
                <span class="math">{{numberFormat ability.[1].bonus decimals=0 sign=true}} =
                    {{ability.[1].value}}
                </span>
                <span class="ability-mod rollable" data-roll="d20+@abilities.{{ability.[0]}}.mod"
                    data-label="{{ability.[1].label}}">
                    ({{percent ability.[1].mod symbol=true sign=true}})
                </span>
            </div>
            {{/each}}
        </div>
    </aside>
    {{!-- skill abilities --}}
    <b>Skill Schools</b>
    <aside class="sidebar">
        <div class="abilities flexcol">
            {{#each actor.system.combatAbilities.skill as |ability key|}}
            <div class="ability flexrow flex-group-center"
                style="background-color: var(--color-{{#with (lookup ../config.combatSkills ability.[0])}}{{damage}}{{/with}}-bg)">
                <label for="system.combat.{{ability.[0]}}.base" data-tooltip="CELESTUS.abilityDescriptions.{{ability.[0]}}"
                    class="resource-label maxwidth-label ability-roll flexlarge align-left"
                    data-label="{{ability.[0]}}">
                    {{#with (lookup ../config.combatSkills ability.[0])}}
                    <i class="{{glyph}}"></i>{{label}}
                    {{/with}}
                </label>
                <input type="text" name="system.combat.{{ability.[0]}}.base" value="{{ability.[1].base}}"
                    data-dtype="Number" />
                <span class="math">{{numberFormat ability.[1].bonus decimals=0 sign=true}} =
                    {{ability.[1].value}}
                </span>
                <span class="ability-mod rollable" data-roll="d20+@abilities.{{ability.[0]}}.mod"
                    data-label="{{ability.[1].label}}">
                    ({{percent ability.[1].mod symbol=true sign=true}})
                </span>
            </div>
            {{/each}}
        </div>
    </aside>
</section>