<ol class='items-list'>
    <li class='item flexrow items-header'>
        <div class='item-name'>
        </div>
        <div class='item-controls'>
            <a class='item-control item-create' title='' data-type='skill'>
                <i class='fas fa-plus'></i>
            </a>
        </div>
    </li>
    <h2>Skills</h2>
    {{#each actor.system.skills as |skill|}}
    <li class='item skill' style="display: inline-block; width: 80px" data-item-id='{{skill._id}}'>
        <div class='skill-frame'>
            <div class='item-image'>
                <a class='rollable' data-roll-type='skill' data-skill-id="{{skill._id}}"><img src='{{skill.img}}' title='{{skill.name}}' width='80'
                    height='80' /></a>
                {{#if (gt skill.system.cooldown.value 0)}}
                <span class="item-overlay active">
                    {{skill.system.cooldown.value}}
                </span>
                {{else if (lt skill.system.cooldown.value 0)}}
                <span class="item-overlay active">
                    <i class="icon-sunrise"></i>
                </span>
                {{else if skill.system.disabled}}
                <span class="item-overlay active">
                    <i class="fa-solid fa-ban"></i>
                </span>
                {{/if}}
            </div>
        </div>
        <div class="skill-cost">
            {{#repeat skill.system.ap}}<i class="fa-solid fa-circle ap-icon"></i>{{/repeat}}
        </div>
        <div class='item-controls'>
            <span>
            <a class='item-control item-edit' title='edit'>
                <i class='fas fa-edit'></i>
            </a>
            <a class='item-control item-delete' title='delete'>
                <i class='fas fa-trash'></i>
            </a>
            </span>
        </div>
    </li>
    {{/each}}
</ol>