{{#each actor.system.effects as |section sid|}}
<div class="item-section">
    <li class="item items-header flexrow" data-effect-type="{{section.type}}" data-parent-id="{{@root.actor.id}}">
        <div class="effect-source">{{capitalize sid}}</div>
        <div class="effect-source">Source</div>
        <div class="effect-source">Duration</div>
        <div class="item-controls effect-controls flexrow">
            <a class="effect-control" data-action="create" data-tooltip="Create New Effect">
                <i class="fas fa-plus"></i> New Effect
            </a>
        </div>
    </li>
    <ol class="effects-list items-list">
        {{#each section as |effect|}}
        <li class="item effect flexrow" data-effect-id="{{effect.id}}" data-parent-id="{{effect.parent.id}}">
            <div class="item-name">
                <img class="effect-image" src="{{effect.img}}" />
                <h4 class="effect-name">{{effect.name}}</h4>
            </div>
            <div class="effect-source">{{effect.sourceName}}</div>
            <div class="effect-duration">{{#if effect.duration.rounds}} {{effect.duration.rounds}} rounds{{/if}}
            </div>
            <div class="effect-controls">
                <a class="effect-control" data-action="toggle" data-tooltip="disable/enable">
                    <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                </a>
                <a class="effect-control" data-action="edit" data-tooltip="edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="effect-control" data-action="delete" data-tooltip="delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>
{{/each}}