<form class="{{cssClass}} {{actor.type}} flexcol" style="height: 100%" autocomplete="off">

    <!-- Effect Header -->
    <header class="sheet-header">
        <img class="effect-img" src="{{ data.img }}" data-edit="img">
        <h1 class="effect-title">
            <input name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'Name' }}" />
        </h1>
    </header>

    <!-- Effect Configuration Tabs -->
    <nav class="sheet-tabs tabs" aria-role="{{localize 'SHEETS.FormNavLabel'}}">
        <a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "EFFECT.TabDetails"}}</a>
        <a class="item" data-tab="duration"><i class="fas fa-clock"></i> {{localize "EFFECT.TabDuration"}}</a>
        <a class="item" data-tab="effects"><i class="fas fa-cogs"></i> {{localize "EFFECT.TabEffects"}}</a>
        <a class="item" data-tab="other"><i class="fas fa-cogs"></i> Other</a>
    </nav>

    <!-- Details Tab -->
    <section class="tab" data-tab="details">
        <div class="form-group">
            <label>{{ localize "EFFECT.Tint" }}</label>
            <div class="form-fields">
                <color-picker name="tint" value="{{data.tint}}" placeholder="#ffffff"></color-picker>
            </div>
        </div>
        <div class="form-group">
            <label>Has Aura</label>
            <div class="form-fields">
                <input type="checkbox" class="check-input" name="system.aura.has" {{checked system.aura.has}}/>
             </div>
        </div>
        {{#if system.aura.has}}
            <div class="form-group">
                <label>Affects Self</label>
                <div class="form-fields">
                    <input type="checkbox" class="check-input" name="system.aura.targetsSelf" {{checked system.aura.targetsSelf}}/>
                 </div>
            </div>
            <div class="form-group">
                <label>Aura Radius</label>
                <div class="form-fields">
                    <input type="text" name="system.aura.radius" value="{{ system.aura.radius }}" />
                </div>
            </div>
            <div class="form-group">
                <label>Aura Targets</label>
                <div class="form-fields">
                    <select class="aura-type-selector" name="system.aura.targets">
                        {{selectOptions config.auraTargets selected=system.aura.targets}}
                    </select>
                 </div>
            </div>
            {{#if (eq system.aura.targets "type")}}
            <div class="form-group">
                <label>Targets Type</label>
                <div class="form-fields">
                    <select class="aura-type-selector" name="system.aura.targetType">
                        {{selectOptions config.creatureTypes selected=system.aura.targetType}}
                    </select>
                 </div>
            </div>
            {{/if}}
        {{/if}}

        <div class="form-group stacked">
            <label>{{ localize "EFFECT.Description" }}</label>
            {{editor descriptionHTML target="description" button=false editable=editable engine="prosemirror"
            collaborate=false}}
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.Disabled" }}</label>
            <input type="checkbox" name="disabled" {{ checked data.disabled }} />
        </div>

        {{#if isActorEffect}}
        <div class="form-group">
            <label>{{ localize "EFFECT.Origin" }}</label>
            <div class="form-fields">
                <input type="text" name="origin" value="{{ data.origin }}" disabled />
            </div>
        </div>
        {{/if}}

        {{#if isItemEffect}}
        <div class="form-group">
            <label>{{ labels.transfer.name }}</label>
            <div class="form-fields">
                <input type="checkbox" name="transfer" {{checked data.transfer}} />
            </div>
            <p class="hint">{{ labels.transfer.hint }}</p>
        </div>
        {{/if}}

        <div class="form-group">
            <label>Status Conditions</label>
            <div class="form-fields">
                <multi-select name="statuses">
                    {{#each statuses as |status|}}
                    <option value="{{status.id}}" {{status.selected}}>{{status.label}}</option>
                    {{/each}}
                </multi-select>
            </div>
        </div>
    </section>

    <!-- Duration Tab -->
    <section class="tab" data-tab="duration">
        <div class="form-group">
            <label>{{ localize "EFFECT.DurationSecs" }}</label>
            <div class="form-fields">
                <input type="number" name="duration.seconds" value="{{ data.duration.seconds }}" />
            </div>
        </div>
        <div class="form-group">
            <label>{{ localize "EFFECT.StartTime" }}</label>
            <div class="form-fields">
                <input type="number" name="duration.startTime" value="{{ data.duration.startTime }}" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label>{{ localize "EFFECT.DurationTurns" }}</label>
            <div class="form-fields">
                <label>{{ localize "COMBAT.Rounds" }}</label>
                <input type="number" name="duration.rounds" value="{{ data.duration.rounds }}" />
                <label>{{ localize "COMBAT.Turns" }}</label>
                <input type="number" name="duration.turns" value="{{ data.duration.turns }}" />
            </div>
        </div>
        <div class="form-group">
            <label>{{ localize "EFFECT.Combat" }}</label>
            <div class="form-fields">
                <input type="text" name="duration.combat" value="{{ data.duration.combat }}" disabled />
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.StartTurns" }}</label>
            <div class="form-fields">
                <label>{{ localize "COMBAT.Round" }}</label>
                <input type="number" name="duration.startRound" value="{{ data.duration.startRound }}" />
                <label>{{ localize "COMBAT.Turn" }}</label>
                <input type="number" name="duration.startTurn" value="{{ data.duration.startTurn }}" />
            </div>
        </div>
    </section>

    <!-- Effects Tab -->
    <section class="tab" data-tab="effects">
        <header class="effect-change effects-header flexrow">
            <div class="key">{{ localize "EFFECT.ChangeKey" }}</div>
            <div class="mode">{{ localize "EFFECT.ChangeMode" }}</div>
            <div class="value">{{ localize "EFFECT.ChangeValue" }}</div>
            <div class="effect-controls">
                <a class="effect-control" data-action="add"><i class="far fa-plus-square"></i></a>
            </div>
        </header>
        <ol class="changes-list">
            {{#each data.changes as |change i|}}
            <li class="effect-change flexrow" data-index="{{i}}">
                <div class="key">
                    <input type="text" name="changes.{{i}}.key" value="{{change.key}}" />
                </div>
                <div class="mode">
                    <select name="changes.{{i}}.mode" data-dtype="Number">
                        {{selectOptions ../modes selected=change.mode}}
                    </select>
                </div>
                <div class="value">
                    <input type="text" name="changes.{{i}}.value" value="{{change.value}}" />
                </div>
                <div class="effect-controls">
                    <a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </section>
    <!-- Other Tab -->
    <section class="tab" data-tab="other">
        <h2>Damage</h2>
        <li class="item flexrow damage-header" draggable="true">
            <div class="damage-type">Type</div>
            <div class="damage-amount">Amount (%)</div>
            <div class="item-controls">
                <a class="item-control damage-create" title="Create New Damage Component" data-type="item">
                    <i class="fas fa-plus"></i>
                    Add Damage
                </a>
            </div>
        </li>
        <ol class="damage-list">
            {{!-- create editor for each damage type --}}
            {{#each system.damage as |damage|}}
            <li class="item flexrow">
                <div class="damage-type">
                    <select class="damage-type-selector" name="system.damage[{{@index}}].type" data-index="{{@index}}">
                        {{!-- create a dropdown option for each damage type --}}
                        {{#each ../config.damageTypes as |data type|}}
                        <option value="{{type}}" {{#if (eq type damage.type)}}selected{{/if}}>{{data.label}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="damage-amount">
                    <input type="text" name="system.damage[{{@index}}].value" value="{{damage.value}}"
                        data-index="{{@index}}" />
                </div>
                <div class="item-controls">
                    <a class="item-control damage-delete" title="Delete Damage Component" data-type="damage"
                        data-index="{{@index}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ol>
        <h2>Removes</h2>
        <li class="item flexrow damage-header" draggable="true">
            <div class="damage-type">Status</div>
            <div class="item-controls">
                <a class="item-control removes-create" title="Add a new status" data-type="item">
                    <i class="fas fa-plus"></i>
                    Add Status
                </a>
            </div>
        </li>
        <ol class="damage-list">
            {{!-- create editor for each status it removes --}}
            {{#each system.removes as |status|}}
            <li class="item flexrow">
                <div class="status-type">
                    <select class="damage-type-selector" name="system.removes[{{@index}}]" data-index="{{@index}}" data-type="removes">
                        {{!-- create a dropdown option for each damage type --}}
                        {{#each ../statusEffects as |statusEffect|}}
                        <option value="{{statusEffect.id}}" {{#if (eq status statusEffect.id)}}selected{{/if}}>{{statusEffect.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="item-controls">
                    <a class="item-control removes-delete" title="Remove status" data-type="damage"
                        data-index="{{@index}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ol>
        <h2>Blocks</h2>
        <li class="item flexrow damage-header" draggable="true">
            <div class="damage-type">Status</div>
            <div class="item-controls">
                <a class="item-control blocks-create" title="Add a new status" data-type="item">
                    <i class="fas fa-plus"></i>
                    Add Status
                </a>
            </div>
        </li>
        <ol class="damage-list">
            {{!-- create editor for each status it removes --}}
            {{#each system.blocks as |status|}}
            <li class="item flexrow">
                <div class="status-type">
                    <select class="damage-type-selector" name="system.removes[{{@index}}]" data-index="{{@index}}" data-type="blocks">
                        {{!-- create a dropdown option for each damage type --}}
                        {{#each ../statusEffects as |statusEffect|}}
                        <option value="{{statusEffect.id}}" {{#if (eq status statusEffect.id)}}selected{{/if}}>{{statusEffect.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="item-controls">
                    <a class="item-control blocks-delete" title="Remove status" data-type="damage"
                        data-index="{{@index}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ol>
    </section>
    <footer class="sheet-footer">
        <button type="submit"><i class="fas fa-save"></i> {{localize submitText}}</button>
    </footer>
</form>