<form class="{{cssClass}} {{actor.type}} flexcol" style="height: 100%" autocomplete="off">
    <div class="sheet-inner">
        {{!-- Sheet Header --}}
        <span class="sheet-header">
            <div class="portrait">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" data-tooltip="{{actor.name}}" />
                {{#if system.portraitBorder}}
                <img class="portrait-overlay" src="systems/celestus/img/portrait-frame.webp" />
                {{/if}}
                <a class="appearance-edit"><i class="fa-solid fa-gear"></i></a>
            </div>
            <div class="header-fields">
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                <div>
                    <select class="npc-prefab-selector physical" name="system.t">
                        {{selectOptions config.creatureTypes selected=system.t}}
                    </select>
                </div>
                <span class="character-attributes">
                    <span class="level">
                        Level: <input type="number" name="system.attributes.level" value="{{system.attributes.level}}"
                            data-dtype="Number" />
                    </span>
                    <span class="level">
                        Exhaustion: <input type="number" name="system.attributes.exhaustion"
                            value="{{system.attributes.exhaustion}}" data-dtype="Number" />
                    </span>
                    <span class="level">
                        Movement: {{system.attributes.movement.value}}
                    </span>
                    <a class="level" id="initiative">
                        Initiative: {{numberFormat (sum system.abilities.wit.total
                        system.attributes.bonuses.initiative.value) sign=true}}
                    </a>
                    <br />
                    <a class="control refresh" data-tooltip="refresh resources" id="refresh-all"><i
                            class="icon-cycle"></i></a>
                    <a class="control refresh" data-tooltip="new day" id="refresh-dawn"><i class="icon-sunrise"></i></a>
                    <a class="control refresh" data-tooltip="toggle combat state" id="toggle-combat">
                        <i class="{{ifThen actor.inCombat " icon-swords-emblem-solid" "icon-swords-emblem-outline" }}">
                        </i>
                    </a>

                </span>
                <h2>Resources</h2>
                <div class="resources grid" id="action-points" style="text-align: center;">
                    <span class="resource">
                        {{!--<label class="resource-label">AP: </label>--}}
                        {{#repeat system.resources.ap.value}}
                        <a class="ap-interact" data-index="@index">
                            <i class="fa-solid fa-circle action-point full small"></i>
                        </a>
                        {{/repeat}}
                        {{#repeat (diff system.resources.ap.max system.resources.ap.value)
                        offset=system.resources.ap.value}}
                        <a class="ap-interact" data-index="@index">
                            <i class="fa-solid fa-circle action-point empty small"></i>
                        </a>
                        {{/repeat}}
                        <br />
                        {{!-- only renders focus points if max focus points have been manually set --}}
                        {{#if system.resources.fp.max}}
                        {{!--<label class="resource-label">FP: </label>--}}
                        {{#repeat system.resources.fp.value}}
                        <a class="fp-interact" data-index="@index">
                            <i class="fa-solid fa-diamond focus-point full small"></i>
                        </a>
                        {{/repeat}}
                        {{#repeat (diff system.resources.fp.max system.resources.fp.value)
                        offset=system.resources.fp.value}}
                        <a class="fp-interact" data-index="@index">
                            <i class="fa-solid fa-diamond focus-point empty small"></i>
                        </a>
                        {{/repeat}}
                    </span>
                    {{/if}}
                </div>
                <div class="resources grid" id="hp">
                    <span class="resource">
                        <label class="resource-label hp">HP</label><br />
                        <span class="resource-value healing" id="system.resources.hp" style="flex: 2">
                            <input class="resource-input" type="number" name="system.resources.hp.flat"
                                value="{{system.resources.hp.flat}}" data-dtype="Number"
                                data-max-value="{{system.resources.hp.max}}" />
                            <span class="total">/{{system.resources.hp.max}}</span>
                        </span>
                    </span>
                </div>
                <div class="resources grid" id="armor">
                    <span class="resource" id="physical-armor">
                        <label class="resource-label armor">Physical Armor</label>
                        <span class="earth resource-value" id="system.resources.phys_armor">
                            <input class="resource-input" type="number" name="system.resources.phys_armor.flat"
                                data-max-value="{{system.resources.phys_armor.max}}"
                                value="{{system.resources.phys_armor.flat}}" data-dtype="Number" /> <span
                                class="total">+{{system.resources.phys_armor.temp}}/{{system.resources.phys_armor.max}}</span>
                        </span>
                    </span>
                    <span class="resource" id="magic-armor">
                        <label class="resource-label">Magic Armor</label><br />
                        <span class="resource-value water" id="system.resources.mag_armor">
                            <input class="resource-input" type="number" name="system.resources.mag_armor.flat"
                                data-max-value="{{system.resources.mag_armor.max}}"
                                value="{{system.resources.mag_armor.flat}}" data-dtype="Number" /> <span
                                class="total">+{{system.resources.mag_armor.temp}}/{{system.resources.mag_armor.max}}</span>
                        </span>
                    </span>
                </div>
                {{> "systems/celestus/templates/actor/parts/actor-damage.hbs"}}
                <h2>Attribute Totals</h2>
                <div class="stats-grid">
                    <h4>Unspent: {{numberFormat system.attributes.unspentPoints sign=true}}</h4>
                    {{#each system.abilities as |ability key|}}
                    <div class="ability flexrow flex-group-center">
                        <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left"
                            data-roll="d20+@abilities.{{key}}.mod"
                            data-label="{{ability.label}}">{{ability.label}}</label>
                        <input type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}"
                            data-dtype="Number" />
                        <span class="ability-mod rollable" data-label="{{ability.label}}">
                            {{numberFormat ability.bonus decimals=0 sign=true}} = {{ability.total}}
                            {{#with (lookup ../config.abilities key) as |configKey|}}
                            {{#if configKey.percent}}
                            ({{percent ability.mod sign=true symbol=true}})
                            {{else}}
                            ({{numberFormat ability.mod sign=true}})
                            {{/if}}
                            {{/with}}
                        </span>
                    </div>
                    {{/each}}
                </div>
                {{> "systems/celestus/templates/actor/parts/actor-bonuses.hbs"}}
            </div>
        </span>
        <span class="sheet-main">
            {{!-- Equipped Gear --}}
            <div class="armor-section">
                {{#each actor.system.equipped as |piece slot|}}
                <div class="armor-socket">
                    <div class="armor-socket-label">{{lookup ../config.equipmentSlots slot}}</div>
                    <a class="armor-socket-browse item" data-slot="{{slot}}" data-item-id="{{piece._id}}">
                        <img class="armor-socket-icon" src="{{piece.img}}" data-tooltip="{{piece.name}}" {{#if
                            piece.img}} {{#if (and piece.system.twoHanded (eq slot "right" ))}} style="opacity: 0.5;"
                            {{/if}} {{else}} style="opacity: 0.0;" {{/if}} />
                    </a>
                </div>
                {{/each}}
            </div>
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="abilities">Abilities</a>
                <a class="item" data-tab="skills">Skills</a>
                <a class="item" data-tab="items">Items</a>
                <a class="item" data-tab="features">Features</a>
                <a class="item" data-tab="description">Biography</a>
                <a class="item" data-tab="effects">Effects</a>
            </nav>

            {{!-- Sheet Body --}}
            <section class="sheet-body">
                {{!-- Owned Features Tab --}}
                <div class="tab abilities" data-group="primary" data-tab="abilities">
                    {{> "systems/celestus/templates/actor/parts/actor-abilities.hbs"}}
                </div>

                {{!-- Biography Tab --}}
                <div class="tab biography" data-group="primary" data-tab="description">
                    {{editor enrichedDescription target="system.biography" editable=editable button=true
                    engine="prosemirror"}}
                </div>

                {{!-- Owned Items Tab --}}
                <div class="tab items" data-group="primary" data-tab="items">
                    {{> "systems/celestus/templates/actor/parts/actor-items.hbs"}}
                </div>

                {{!-- Features Tab --}}
                <div class="tab items" data-group="primary" data-tab="features">
                    {{> "systems/celestus/templates/actor/parts/actor-features.hbs"}}
                </div>

                {{!-- Known Skills Tab --}}
                <div class="tab skills" data-group="primary" data-tab="skills">
                    {{> "systems/celestus/templates/actor/parts/actor-skills.hbs"}}
                </div>

                {{!-- Active Effects Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                    {{> "systems/celestus/templates/actor/parts/actor-effects.hbs"}}
                </div>

            </section>
        </span>
    </div>
</form>