<div class="form-group">
    <label>Rarity</label>
    <div class="form-fields">
        <select name="system.rarity">
            {{selectOptions config.itemRarities selected=system.rarity}}
        </select>
    </div>
</div>
<div class="form-group">
    <label>Socket Spread</label>
    <div class="form-fields">
        <select name="system.socketSpread">
            {{selectOptions generation.validSpreads selected=system.socketSpread}}
        </select>
        <button class="shuffle-socket-spread shuffle" data-tooltip="shuffle spread">
            <i class="fa-solid fa-shuffle"></i>
        </button>
    </div>
</div>
<div class="form-group">
    <label>Level</label>
    <div class="form-fields">
        <input type="text" name="system.level" value="{{ system.level }}" />
    </div>
</div>
<button class="shuffle-all"><i class="fa-solid fa-shuffle"></i> Randomize all from current rarity</button>
<h3>Sockets</h3>
<div class="form-group">
    <div class="form-fields">
        0:
        <select name="system.socketTypes" data-index="0" class="select-index">
            {{selectOptions config.socketTypes selected=system.socketTypes.[0]}}
        </select>
        <select name="system.socketValues" data-index="0" class="select-index">
            {{selectOptions generation.validSockets.[0] selected=system.socketValues.[0]}}
        </select>
        <button class="shuffle-socket shuffle" data-tooltip="shuffle socket" data-index="0"><i class="fa-solid fa-shuffle"></i></button>
    </div>
</div>
<div class="form-group">
    <div class="form-fields">
        1:
        <select name="system.socketTypes" data-index="1" class="select-index">
            {{selectOptions config.socketTypes selected=system.socketTypes.[1]}}
        </select>
        <select name="system.socketValues" data-index="1" class="select-index">
            {{selectOptions generation.validSockets.[1] selected=system.socketValues.[1]}}
        </select>
        <button class="shuffle-socket shuffle" data-tooltip="shuffle socket" data-index="1"><i class="fa-solid fa-shuffle"></i></button>
    </div>
</div>
<div class="form-group">
    <div class="form-fields">
        2:
        <select name="system.socketTypes" data-index="2" class="select-index">
            {{selectOptions config.socketTypes selected=system.socketTypes.[2]}}
        </select>
        <select name="system.socketValues" data-index="2" class="select-index">
            {{selectOptions generation.validSockets.[2] selected=system.socketValues.[2]}}
        </select>
        <button class="shuffle-socket shuffle" data-tooltip="shuffle socket" data-index="2"><i class="fa-solid fa-shuffle"></i></button>
    </div>
</div>
<div class="form-group">
    <div class="form-fields">
        3:
        <select name="system.socketTypes" data-index="3" class="select-index">
            {{selectOptions config.socketTypes selected=system.socketTypes.[3]}}
        </select>
        <select name="system.socketValues" data-index="3" class="select-index">
            {{selectOptions generation.validSockets.[3] selected=system.socketValues.[3]}}
        </select>
        <button class="shuffle-socket shuffle" data-tooltip="shuffle socket" data-index="3"><i class="fa-solid fa-shuffle"></i></button>
    </div>
</div>
<div class="form-group">
    <div class="form-fields">
        4:
        <select name="system.socketTypes" data-index="4" class="select-index">
            {{selectOptions config.socketTypes selected=system.socketTypes.[4]}}
        </select>
        <select name="system.socketValues" data-index="4" class="select-index">
            {{selectOptions generation.validSockets.[4] selected=system.socketValues.[4]}}
        </select>
        <button class="shuffle-socket shuffle" data-tooltip="shuffle socket" data-index="4"><i class="fa-solid fa-shuffle"></i></button>
    </div>
</div>
<div class="form-group">
    <div class="form-fields">
        5:
        <select name="system.socketTypes" data-index="5" class="select-index">
            {{selectOptions config.socketTypes selected=system.socketTypes.[5]}}
        </select>
        <select name="system.socketValues" data-index="5" class="select-index">
            {{selectOptions generation.validSockets.[5] selected=system.socketValues.[5]}}
        </select>
        <button class="shuffle-socket shuffle" data-tooltip="shuffle socket" data-index="5"><i class="fa-solid fa-shuffle"></i></button>
    </div>
</div>
<div class="form-group">
    <div class="form-fields">
        6:
        <select name="system.socketTypes" data-index="6" class="select-index">
            {{selectOptions config.socketTypes selected=system.socketTypes.[6]}}
        </select>
        <select name="system.socketValues" data-index="6" class="select-index">
            {{selectOptions generation.validSockets.[6] selected=system.socketValues.[6]}}
        </select>
        <button class="shuffle-socket shuffle" data-tooltip="shuffle socket" data-index="6"><i class="fa-solid fa-shuffle"></i></button>
    </div>
</div>
<div class="form-group">
    <div class="form-fields">
        7:
        <select name="system.socketTypes" data-index="7" class="select-index">
            {{selectOptions config.socketTypes selected=system.socketTypes.[7]}}
        </select>
        <select name="system.socketValues" data-index="7" class="select-index">
            {{selectOptions generation.validSockets.[7] selected=system.socketValues.[7]}}
        </select>
        <button class="shuffle-socket shuffle" data-tooltip="shuffle socket" data-index="7"><i class="fa-solid fa-shuffle"></i></button>
    </div>
</div>
<button class="shuffle-all-sockets"><i class="fa-solid fa-shuffle"></i> Shuffle all sockets</button>
<button class="apply-plugs">Apply</button>