
<h2>{{name}}</h2>
<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
</div>
{{#if attack}}
<button data-itemUuid="{{itemID}}" data-actorUuid="{{actorID}}" class="attack">Roll Attack</button>
{{/if}}
<button data-itemUuid="{{itemID}}" data-actorUuid="{{actorID}}" class="damage">Roll Damage</button>