<div class="dice-flavor celestus roll description">
    <header class="summary">
        {{#if portrait}}
        <img class="roll-icon" src="{{portrait}}" data-tooltip="{{name}}" />
        {{/if}}
        <div class="name-stacked">
            <div class="title">{{name}}</div>
            <div class="subtitle">
                {{lookup config.equipmentSlots system.slot}}
                {{#with (lookup config.armor.spreads system.spread) as |type|}}
                {{#unless (eq type.label (lookup ../config.equipmentSlots ../system.slot))}}
                | {{type.label}}
                {{/unless}}
                {{/with}}
            </div>
        </div>
    </header>
    <div class="roll-tags">
        {{!-- Slot --}}
        <div class="roll-tag">
            {{lookup config.equipmentSlots system.slot}}
        </div>
        {{!-- Spread --}}
        {{#with (lookup config.armor.spreads system.spread) as |type|}}
        {{#unless (eq type.label (lookup ../config.equipmentSlots ../system.slot))}}
        <div class="roll-tag">
            {{type.label}}
        </div>
        {{/unless}}
        {{/with}}

        {{!-- Armor values --}}
        <div class="roll-tag">
            {{item.system.value.phys}}<i class="icon-edged-shield"></i> /
            {{item.system.value.mag}}<i class="icon-magic-shield"></i>
        </div>

        {{!-- Prerequisites --}}
        {{#if item.system.hasPrereqs}}
        <div class="roll-tag">
            Req.
            {{#each system.prereqs as |value stat|}}
            {{#if value}}
            {{stat}} {{value}}
            {{/if}}
            {{/each}}
        </div>
        {{/if}}

        {{!-- Combat Abilities --}}
        {{#each system.bonuses.combat as |value skill|}}
        {{#if value}}
        {{#with (lookup ../config.combatSkills skill)}}
        <div class="roll-tag" data-tooltip="{{label}}">
            {{numberFormat value sign=true decimals=0}}
            {{label}}
        </div>
        {{/with}}
        {{/if}}
        {{/each}}

        {{!-- Civil Abilities --}}
        {{#each system.bonuses.civil as |value skill|}}
        {{#if value}}
        {{#with (lookup ../config.civilSkills skill)}}
        <div class="roll-tag" data-tooltip="{{skill}}">
            {{numberFormat value sign=true decimals=0}}
            {{label}}
        </div>
        {{/with}}
        {{/if}}
        {{/each}}

        {{!-- Attributes --}}
        {{#each system.bonuses.abilities as |value skill|}}
        {{#if value}}
        {{#with (lookup ../config.abilities skill)}}
        <div class="roll-tag" data-tooltip="{{skill}}">
            {{numberFormat value sign=true decimals=0}}
            {{label}}
        </div>
        {{/with}}
        {{/if}}
        {{/each}}

        {{!-- Resistances --}}
        {{#each system.bonuses.resistance as |value skill|}}
        {{#if value}}
        {{#with (lookup ../config.damageTypes skill)}}
        <div class="roll-tag" data-tooltip="{{skill}}">
            {{numberFormat value decimals=2}}
            {{label}}
        </div>
        {{/with}}
        {{/if}}
        {{/each}}

    </div>
    {{#if flavor}}{{{flavor}}}{{/if}}
</div>