<div class="dice-flavor celestus roll description">
    <header class="summary">
        {{#if portrait}}
        <img class="roll-icon" src="{{portrait}}" data-tooltip="{{name}}" />
        {{/if}}
        <div class="name-stacked">
            <div class="title">{{name}}</div>
            <div class="subtitle">
                {{lookup config.equipmentSlots system.slot}}
                {{#with (lookup config.armor.spreads system.spread) as |type|}}
                {{#unless (eq type.label (lookup ../config.equipmentSlots ../system.slot))}}
                | {{type.label}}
                {{/unless}}
                {{/with}}
            </div>
        </div>
    </header>
    <div class="roll-tags">
        {{!-- Slot --}}
        <div class="roll-tag">
            {{lookup config.equipmentSlots system.slot}}
        </div>
        {{!-- Spread --}}
        {{#with (lookup config.armor.spreads system.spread) as |type|}}
        {{#unless (eq type.label (lookup ../config.equipmentSlots ../system.slot))}}
        <div class="roll-tag">
            {{type.label}}
        </div>
        {{/unless}}
        {{/with}}

        {{!-- Armor values --}}
        <div class="roll-tag">
            {{item.system.value.phys}}<i class="icon-edged-shield"></i> /
            {{item.system.value.mag}}<i class="icon-magic-shield"></i>
        </div>

        {{!-- Prerequisites --}}
        {{#if item.system.hasPrereqs}}
        <div class="roll-tag">
            Req.
            {{#each system.prereqs as |value stat|}}
            {{#if value}}
            {{stat}} {{value}}
            {{/if}}
            {{/each}}
        </div>
        {{/if}}

        {{> 'systems/celestus/templates/rolls/parts/item-roll-tag-bonuses.hbs'}}
    </div>
    {{#if flavor}}{{{flavor}}}{{/if}}
</div>