<div class="dice-flavor celestus roll description">
    <header class="summary">
        {{#if portrait}}
        <img class="roll-icon" src="{{portrait}}" data-tooltip="{{name}}" />
        {{/if}}
        <div class="name-stacked">
            <span class="title">{{name}}</span>
        </div>
    </header>
    <div class="roll-tags">

        {{!-- Armor Values --}}
        <div class="roll-tag">
            {{item.system.value.phys}}<i class="icon-edged-shield"></i> /
            {{item.system.value.mag}}<i class="icon-magic-shield"></i>
        </div>

        {{> 'systems/celestus/templates/rolls/parts/item-roll-tag-bonuses.hbs'}}
    </div>
    {{#if flavor}}{{{flavor}}}{{/if}}
</div>