<div class="dice-flavor celestus roll description">
    <header class="summary">
        {{#if portrait}}
        <img class="roll-icon" src="{{portrait}}" data-tooltip="{{name}}" />
        {{/if}}
        <div class="name-stacked">
            <span class="title">{{name}}</span>
        </div>
    </header>
    {{#each item.system.plugs as |plugs type|}}
    <b>{{capitalize type}}:</b>
    {{#each plugs as |plug|}}
    {{localize (concat "CELESTUS.runeDescriptions." plug)}}
    {{ifThen @last "" ","}}
    {{/each}}
    {{{ifThen @last "" "<br/>"}}}
    {{/each}}
</div>