<div class="dice-flavor celestus roll description {{ifThen (eq usedResources false) " no-resources" "" }}">
    <header class="summary">
        {{#if portrait}}
        <img class="roll-icon" src="{{portrait}}" title="{{name}}" />
        {{/if}}
        <div class="name-stacked">
            <div class="title">{{name}}</div>
            <div class="subtitle">{{lookup config.skillTypes item.system.type}}</div>
        </div>
    </header>
    <div class="roll-tags">
        {{!-- skill tier --}}
        <span class="roll-tag">
            {{lookup config.skillTiers item.system.tier}}
        </span>
        {{!-- skill school --}}
        <span class="roll-tag">
            {{#if (eq item.system.type "civil")}}
            {{#with (lookup config.civilSkills item.system.school) as |school|}}
            <i class="{{school.glyph}}"></i>{{school.label}}
            {{/with}}
            {{else}}
            {{#with (lookup config.combatSkills item.system.school) as |school|}}
            <i class="{{school.glyph}}"></i>{{school.label}}
            {{/with}}
            {{/if}}
        </span>
        {{!-- target type --}}
        {{#if item.system.finalRange}}
        <span class="roll-tag">
            Range: {{item.system.finalRange}}
        </span>
        {{/if}}
        {{#if item.system.targetMode}}
        <span class="roll-tag">
            {{item.system.targetMode}}
        </span>
        {{/if}}
        {{!-- action points --}}
        {{#if (gt item.system.ap 0)}}
        <span class="roll-tag">
            {{item.system.ap}} AP
        </span>
        {{/if}}
        {{!-- focus points --}}
        {{#if (gt item.system.fp 0)}}
        <span class="roll-tag">
            {{item.system.fp}} FP
        </span>
        {{/if}}
        {{!-- cooldown --}}
        {{#if (gt item.system.cooldown.max 0)}}
        <span class="roll-tag">
            CD: {{item.system.cooldown.max}} rounds
        </span>
        {{/if}}
        {{!-- components --}}
        <div class="roll-tag">
            Components:
            {{ifThen item.system.components.verbal "V " ""}}
            {{ifThen item.system.components.somatic "S " ""}}
            {{ifThen item.system.components.material "M " ""}}
            {{#if item.system.components.materialFull}}
            ({{item.system.components.materialFull}})
            {{/if}}
        </div>
        {{!-- damage components --}}
        {{#each rollData.dmg.parts as |damage type|}}
        {{#with (lookup ../config.damageTypes type)}}
        <div class="roll-tag {{type}}-dark">
            <i class="{{glyph}}"></i>
            {{damage.min}}-{{damage.max}}
        </div>
        {{/with}}
        {{/each}}
        {{#if weaponDamage}}
        {{#with (lookup config.damageTypes weaponDamage.base.type) as |damageType|}}
        <span class="roll-tag {{../item.system.displayDamage.type}}-dark">
            <i class="{{damageType.glyph}}"></i>
            {{../item.system.displayDamage.min}}-{{../item.system.displayDamage.max}} {{damageType.label}}
        </span>
        {{/with}}
        {{#each weaponDamage.bonus as |damage|}}
        {{#with (lookup ../config.damageTypes damage.type) as |damageType|}}
        <span class="roll-tag {{damage.type}}-dark">
            <i class="{{damageType.glyph}}"></i>
            {{damage.min}}-{{damage.max}} {{damageType.label}}
        </span>
        {{/with}}
        {{/each}}
        {{/if}}
    </div>
    {{#if flavor}}{{{flavor}}}{{/if}}
</div>