<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <h2 class="item-type">{{lookup config.skillTypes system.type}}</h2>
        </div>
    </header>

    <div class="flexrow" style="align-items: stretch; height: 100%; padding-bottom: 10px">
        {{!-- quick view of important item info --}}
        <div class="item-quick">
            <h3>Details:</h3>
            <div class="quick-reference">
                {{#if (eq system.type "civil")}}
                {{#with (lookup config.civilSkills system.school)}}
                {{lookup ../config.skillTiers ../system.tier}} {{label}}
                {{/with}}
                {{else}}
                {{#with (lookup config.combatSkills system.school)}}
                {{lookup ../config.skillTiers ../system.tier}} {{label}}
                {{/with}}
                {{/if}}
            </div>
            {{#if (gt system.cooldown.max 0)}}
            <div class="quick-reference">
                Cooldown: {{system.cooldown.max}} rounds
            </div>{{/if}}
            {{#if (gt system.ap 0)}}
            <div class="quick-reference">
                {{system.ap}} AP
            </div>
            {{/if}}
            {{#if system.fp}}
            <div class="quick-reference">
                {{system.fp}} FP
            </div>
            {{/if}}
            <div class="quick-reference">
                Memory Slots: {{system.memSlots}}
            </div>
            {{#if item.system.finalRange}}
            <div class="quick-reference">
                Range: {{item.system.finalRange}}
            </div>
            {{/if}}
            {{#if item.system.targetMode}}
            <div class="quick-reference">
                Targets: {{item.system.targetMode}}
            </div>
            {{/if}}


            <h3>Prereqs:</h3>
            {{#if (eq system.type "civil")}}
                {{!-- Civil Prereqs --}}
                {{#each item.system.civilPrereqs as |ability|}}
                    {{#if ability.[1]}}
                        {{#with (lookup ../config.civilSkills ability.[0])}}
                        <div class="quick-reference" style="background-color:{{color}};">
                            {{ability.[1]}} {{label}} <i class="{{glyph}}"></i></div>
                        {{/with}}
                    {{/if}}
                {{/each}}
            {{else}}
                {{!-- Combat Prereqs --}}
                {{#each item.system.combatPrereqs as |ability|}}
                    {{#if ability.[1]}}
                        {{#with (lookup ../config.combatSkills ability.[0])}}
                        <div class="quick-reference" style="background-color: var(--color-{{damage}}-bg)">
                            {{ability.[1]}} {{label}} <i class="{{glyph}}"></i>
                        </div>
                        {{/with}}
                    {{/if}}
                {{/each}}
            {{/if}}

            <h3>Damage:</h3>
            {{#each rollData.dmg as |damage type|}}
            {{#with (lookup ../config.damageTypes type)}}
            <div class="quick-reference" style="background-color: {{color}};" title="{{type}}">
                {{damage.min}}-{{damage.max}} ({{damage.avg}})
                <i class="{{glyph}}"></i>
            </div>
            {{/with}}
            {{/each}}
        </div>
        <div class="item-main">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">Description</a>
                <a class="item" data-tab="attributes">Attributes</a>
                <a class="item" data-tab="effects">Effects</a>
            </nav>

            {{!-- Sheet Body --}}
            <section class="sheet-body">
                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">
                    {{editor enrichedDescription engine="prosemirror" target="system.description" rollData=rollData
                    button=true owner=owner
                    editable=editable}}

                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes" data-group="primary" data-tab="attributes">
                    <div>
                        <h3>General</h3>
                        <div class="attribute-section">
                            {{!-- skill type --}}
                            <div class="general attribute">
                                <label for="system.type" class="resource-label">Type: </label>
                                <select class="skill-type-selector" name="system.type">
                                    {{selectOptions config.skillTypes selected=system.type}}
                                </select>
                            </div>
                            {{!-- skill school --}}
                            <div class="general attribute">
                                Type:
                                <select class="skill-type-selector" name="system.school">
                                    {{#if (eq system.type "civil")}}
                                    {{selectOptions config.civilSkills selected=system.school}}
                                    {{else}}
                                    {{selectOptions config.combatSkills selected=system.school}}
                                    {{/if}}
                                </select>
                                Tier:
                                <select class="skill-type-selector" name="system.tier">
                                    {{selectOptions config.skillTiers selected=system.tier}}
                                </select>
                            </div>
                            {{#if (eq system.type "weapon")}}
                            {{!-- weapon efficiency --}}
                            <div class="general attribute">
                                <label for="system.weaponEfficiency" class="resource-label">Weapon Efficiency: </label>
                                <input type="text" name="system.weaponEfficiency" value="{{system.weaponEfficiency}}"
                                    data-dtype="Number" style="width: 50px;" />
                            </div>
                            {{!-- overrides weapon damage --}}
                            <div class="general attribute">
                                <label for="system.overridesWeaponDamage" class="resource-label">Overrides Damage:
                                </label>
                                <input class="check-input" name="system.overridesWeaponDamage" type="checkbox" {{checked
                                    system.overridesWeaponDamage}} />
                            </div>
                            {{!-- overrides weapon range --}}
                            <div class="general attribute">
                                <label for="system.overridesWeaponRange" class="resource-label">Overrides Range:
                                </label>
                                <input class="check-input" name="system.overridesWeaponRange" type="checkbox" {{checked
                                    system.overridesWeaponRange}} />
                            </div>
                            {{/if}}
                            {{!-- AP cost --}}
                            <div class="general attribute">
                                <label for="system.ap" class="resource-label">Action Points: </label>
                                <input type="text" name="system.ap" value="{{system.ap}}" data-dtype="Number" />
                            </div>
                            {{!-- FP cost --}}
                            <div class="general attribute">
                                <label for="system.fp" class="resource-label">Focus Points: </label>
                                <input type="text" name="system.fp" value="{{system.fp}}" data-dtype="Number" />
                            </div>
                            {{!-- Components --}}
                            <div class="general attribute">
                                <label for="system.components.verbal" class="resource-label">Components: </label>
                                V: <input class="check-input" name="system.components.verbal" type="checkbox" {{checked
                                    system.components.verbal}} />
                                S: <input class="check-input" name="system.components.somatic" type="checkbox" {{checked
                                    system.components.somatic}} />
                                M: <input class="check-input" name="system.components.material" type="checkbox"
                                    {{checked system.components.material}} />
                                {{#if system.components.material}}
                                <input type="text" style="width: 200px" name="system.components.materialFull"
                                    value="{{system.components.materialFull}}" data-dtype="Text" />
                                {{/if}}
                            </div>
                            {{!-- cooldown --}}
                            <div class="general attribute">
                                <label for="system.cooldown.value" class="resource-label">Cooldown (rounds): </label>
                                <input type="text" name="system.cooldown.value" value="{{system.cooldown.value}}"
                                    data-dtype="Number" />
                                / <input type="text" name="system.cooldown.max" value="{{system.cooldown.max}}"
                                    data-dtype="Number" />
                            </div>
                            {{!-- memory cost --}}
                            <div class="general attribute">
                                <label for="system.memSlots" class="resource-label">Memory Slots: </label>
                                <input type="text" name="system.memSlots" value="{{system.memSlots}}"
                                    data-dtype="Number" />
                            </div>
                            {{!-- Targeting --}}
                            <div class="general attribute">
                                <label for="system.targets.type" class="resource-label">Targets: </label>
                                {{#if (eq system.targets.type "creature")}}
                                <input type="text" name="system.targets.count" value="{{system.targets.count}}"
                                    data-dtype="Number" />
                                {{/if}}
                                {{#with (lookup config.targetTypes system.targets.type)}}
                                {{#if (eq options.[0] "size")}}
                                <input type="text" name="system.targets.size" value="{{../system.targets.size}}"
                                    data-dtype="Number" />
                                ft.
                                {{/if}}
                                {{/with}}
                                <select class="skill-type-selector" name="system.targets.type">
                                    {{selectOptions config.targetTypes selected=system.targets.type}}
                                </select>
                            </div>
                            {{!-- has attack? --}}
                            <div class="general attribute">
                                <label for="system.attack" class="resource-label">Has Attack?: </label>
                                <input class="check-input" name="system.attack" type="checkbox" {{#if
                                    system.attack}}checked{{/if}} />
                            </div>
                            {{!-- range --}}
                            <div class="general attribute">
                                <label for="system.range" class="resource-label">Range (ft.): </label>
                                <input type="text" name="system.range" value="{{system.range}}" data-dtype="Number"
                                    style="width: 50px;" {{ifThen item.system.needsRangeField "" "disabled" }} />
                            </div>
                            {{!-- ability --}}
                            <div class="general attribute">
                                <label for="system.ability" class="resource-label">Ability: </label>
                                <select class="damage-type-selector" name="system.ability" {{ifThen (ne
                                    system.type "weapon" ) "" "disabled" }}>
                                    {{selectOptions config.abilities selected=item.system.finalAbility}}
                                </select>
                            </div>
                            {{!-- memorized? --}}
                            <div class="general attribute">
                                <label for="system.memorized" class="resource-label">Memorized: </label>
                                <select class="skill-type-selector" name="system.memorized">
                                    {{selectOptions config.memTypes selected=system.memorized}}
                                </select>
                            </div>
                            {{!-- lifesteal --}}
                            <div class="general attribute">
                                <label for="system.lifesteal" class="resource-label">Lifesteal: </label>
                                <input type="text" name="system.lifesteal" value="{{system.lifesteal}}"
                                    data-dtype="Number" style="width: 50px;" />
                            </div>
                        </div>
                        <h3>Prerequisites</h3>
                        {{#if (eq system.type "civil")}}
                        {{!-- Civil ability prerequisites --}}
                        <div class="attribute-section">
                            {{#each item.system.civilPrereqs as |ability|}}
                            <div class="attribute"
                                style="background-color: {{#with (lookup ../config.civilSkills ability.[0])}}{{color}}{{/with}}">
                                <label class="resource-label rollable flexlarge align-left" data-label="key">{{#with
                                    (lookup ../config.civilSkills ability.[0])}}<i class="{{glyph}}">
                                    </i>{{label}}{{/with}}</label>
                                <input type="text" name="system.prereqs.{{ability.[0]}}" value="{{ability.[1]}}"
                                    data-dtype="Number" />
                            </div>
                            {{/each}}
                        </div>
                        {{else}}
                        {{!-- Combat ability prerequisites --}}
                        <div class="attribute-section">
                            {{#each item.system.combatPrereqs as |ability|}}
                            <div class="attribute"
                                style="background-color: var(--color-{{#with (lookup ../config.combatSkills ability.[0])}}{{damage}}{{/with}}-bg)">
                                <label class="resource-label rollable flexlarge align-left" data-label="key">{{#with
                                    (lookup
                                    ../config.combatSkills ability.[0])}}<i class="{{glyph}}">
                                    </i>{{label}}{{/with}}</label>
                                <input type="text" name="system.prereqs.{{ability.[0]}}" value="{{ability.[1]}}"
                                    data-dtype="Number" />
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                    </div>
                    {{!-- Damage Array --}}
                    {{#if item.system.needsDamageField}}
                    <h3>Damage</h3>
                    <div class="attribute-section">
                        <li class="item flexrow damage-header" draggable="true">
                            <div class="damage-type">Type</div>
                            <div class="damage-amount">Amount (%)</div>
                            <div class="item-controls">
                                <a class="item-control damage-create" title="Create New Damage Component"
                                    data-type="item">
                                    <i class="fas fa-plus"></i>
                                    Add Damage
                                </a>
                            </div>
                        </li>
                        {{!-- create editor for each damage type --}}
                        {{#each system.damage as |damage|}}
                        <li class="item flexrow">
                            <div class="damage-type">
                                <select class="damage-type-selector" name="system.damage[{{@index}}].type"
                                    data-index="{{@index}}">
                                    {{!-- create a dropdown option for each damage type --}}
                                    {{#each ../config.damageTypes as |data type|}}
                                    <option value="{{type}}" {{#if (eq type damage.type)}}selected{{/if}}>{{data.label}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="damage-amount">
                                <input type="text" name="system.damage[{{@index}}].value" value="{{damage.value}}"
                                    data-index="{{@index}}" />
                            </div>
                            <div class="item-controls">
                                <a class="item-control damage-delete" title="Delete Damage Component" data-type="damage"
                                    data-index="{{@index}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{!-- StatusEffects --}}
                    <h3>Status Effects</h3>
                    <div class="attribute-section">
                        <li class="item flexrow damage-header" draggable="true">
                            <div class="damage-type">Status Name</div>
                            <div class="item-controls">
                                <a class="item-control status-create" title="Create New StatusEffect" data-type="item">
                                    <i class="fas fa-plus"></i>
                                    Add Status
                                </a>
                            </div>
                        </li>
                        {{!-- create editor for each damage type --}}
                        {{#each system.statusEffects as |status|}}
                        <li class="item flexrow">
                            <div class="status-type flexrow">
                                <select class="status-type-selector" name="system.statusEffects[{{@index}}]"
                                    data-index="{{@index}}">
                                    {{#each ../statusEffects as |statusEffect|}}
                                    <option value="{{statusEffect.id}}" {{ifThen (eq statusEffect.id
                                        status) "selected" "" }}>
                                        {{statusEffect.name}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="item-controls">
                                <a class="item-control status-delete" title="Delete StatusEffect"
                                    data-type="statusEffect" data-index="{{@index}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </div>
                </div>

                {{!-- Active Effects Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                    <ol class="items-list effects-list">
                        {{#each item.system.effects as |section sid|}}
                        <div class="flexcol effect-section">
                            <h3 class="item-name effect-name flexrow">{{sid}}</h3>
                            <li class="items-header flexrow" data-effect-type="{{section.type}}"
                                data-parent-id="{{@root.item.id}}">
                                <div class="effect-source">Name</div>
                                <div class="effect-source">Source</div>
                                <div class="effect-source">Duration</div>
                                <div class="item-controls effect-controls flexrow">
                                    <a class="effect-control" data-action="create" title="Create New Effect">
                                        <i class="fas fa-plus"></i> Create New Effect
                                    </a>
                                </div>
                            </li>

                            <ol class="item-list">
                                {{#each section as |effect|}}
                                <li class="item effect flexrow" data-effect-id="{{effect.id}}"
                                    data-parent-id="{{effect.parent.id}}">
                                    <div class="item-name">
                                        <img class="effect-image" src="{{effect.img}}" />
                                        <h4 class="effect-name">{{effect.name}}</h4>
                                    </div>
                                    <div class="effect-source">{{effect.sourceName}}</div>
                                    <div class="effect-duration">{{#if effect.duration.rounds}}
                                        {{effect.duration.rounds}} rounds{{/if}}</div>
                                    <div class="effect-controls">
                                        <a class="effect-control" data-action="toggle" title="disable/enable">
                                            <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                                        </a>
                                        <a class="effect-control" data-action="edit" title="edit">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="effect-control" data-action="delete" title="delete">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                        {{/each}}
                    </ol>
                </div>
            </section>
        </div>
    </div>
</form>