<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <h2 class="item-type">{{lookup config.featureTypes system.type}}</h2>
        </div>
    </header>

    <div class="flexrow" style="align-items: stretch; height: 100%; padding-bottom: 10px">
        {{!-- quick view of important item info --}}
        <div class="item-quick">
            <h3>Details:</h3>
            {{#if item.system.hasPrereqs}}
            <div class="quick-reference">
                Requires:
                {{#each system.prereqs as |value stat|}}
                {{#if value}}
                {{stat}} {{value}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            <h3>Bonuses:</h3>
            {{!-- Combat Abilities --}}
            {{#each system.bonuses.combat as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.combatSkills skill)}}
            <div class="quick-reference {{damage}}" data-tooltip="{{label}}">
                {{numberFormat value sign=true decimals=0}}
                {{label}}
            </div>
            {{/with}}
            {{/if}}
            {{/each}}
            {{!-- Civil Abilities --}}
            {{#each system.bonuses.civil as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.civilSkills skill)}}
            <div class="quick-reference" style="background-color: {{color}};" data-tooltip="{{skill}}">
                {{numberFormat value sign=true decimals=0}}
                {{label}}
            </div>
            {{/with}}
            {{/if}}
            {{/each}}
            {{!-- Attributes --}}
            {{#each system.bonuses.abilities as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.abilities skill)}}
            <div class="quick-reference" data-tooltip="{{skill}}">
                {{numberFormat value sign=true decimals=0}}
                {{label}}
            </div>
            {{/with}}
            {{/if}}
            {{/each}}
            {{!-- Resistances --}}
            <h3>Resistances</h3>
            {{#each system.bonuses.resistance as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.damageTypes skill)}}
            <div class="quick-reference" style="background-color: {{color}};" data-tooltip="{{skill}}">
                {{percent value symbol=true}}
                {{label}}
            </div>
            {{/with}}
            {{/if}}
            {{/each}}
            {{#each system.bonuses.statusImmune as |status|}}
            <div class="quick-reference" data-tooltip="{{status}}">
                Blocks {{status}}
            </div>
            {{/each}}

        </div>
        <div class="item-main">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">Description</a>
                <a class="item" data-tab="attributes">Attributes</a>
                <a class="item" data-tab="effects">Effects</a>
            </nav>

            {{!-- Sheet Body --}}
            <section class="sheet-body">
                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">
                    {{editor enrichedDescription engine="prosemirror" target="system.description" rollData=rollData
                    button=true owner=owner
                    editable=editable}}
                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes" data-group="primary" data-tab="attributes">
                    <div>
                        <h3>General</h3>
                        <div class="attribute-section">
                            {{!-- Feature Type --}}
                            <div class="form-group">
                                <label for="system.type" class="resource-label">Type: </label>
                                <select class="armor-type-selector" name="system.type">
                                    {{selectOptions config.featureTypes selected=system.type}}
                                </select>
                            </div>
                            {{!-- equipped --}}
                            <div class="form-group">
                                <label for="system.equipped" class="resource-label">Active: </label>
                                <input class="check-input" name="system.equipped" type="checkbox" {{#if
                                    system.equipped}}checked{{/if}} />
                            </div>
                        </div>
                        {{> "systems/celestus/templates/item/parts/item-bonuses.hbs"}}
                    </div>

                </div>
                {{!-- Active Effects Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                    <ol class="items-list effects-list">
                        {{#each item.system.effects as |section sid|}}
                        <div class="flexcol effect-section">
                            <h3 class="item-name effect-name flexrow">{{sid}}</h3>
                            <li class="items-header flexrow" data-effect-type="{{section.type}}"
                                data-parent-id="{{@root.item.id}}">
                                <div class="effect-source">Name</div>
                                <div class="effect-source">Source</div>
                                <div class="effect-source">Duration</div>
                                <div class="item-controls effect-controls flexrow">
                                    <a class="effect-control" data-action="create" data-tooltip="Create New Effect">
                                        <i class="fas fa-plus"></i> Create New Effect
                                    </a>
                                </div>
                            </li>

                            <ol class="item-list">
                                {{#each section as |effect|}}
                                <li class="item effect flexrow" data-effect-id="{{effect.id}}"
                                    data-parent-id="{{effect.parent.id}}">
                                    <div class="item-name">
                                        <img class="effect-image" src="{{effect.img}}" />
                                        <h4 class="effect-name">{{effect.name}}</h4>
                                    </div>
                                    <div class="effect-source">{{effect.sourceName}}</div>
                                    <div class="effect-duration">{{#if effect.duration.rounds}}
                                        {{effect.duration.rounds}} rounds{{/if}}</div>
                                    <div class="effect-controls">
                                        <a class="effect-control" data-action="toggle" data-tooltip="disable/enable">
                                            <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                                        </a>
                                        <a class="effect-control" data-action="edit" data-tooltip="edit">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="effect-control" data-action="delete" data-tooltip="delete">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                        {{/each}}
                    </ol>
                </div>

            </section>
        </div>
    </div>
</form>