<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <h2 class="item-type">
                {{ifThen system.twoHanded "Two-Handed" "One-Handed"}} |
                {{ifThen (gt system.range 0) "Ranged" "Melee"}}
            </h2>
        </div>
    </header>

    <div class="flexrow" style="align-items: stretch; height: 100%; padding-bottom: 10px">
        {{!-- quick view of important item info --}}
        <div class="item-quick">
            <h3>Details:</h3>
            {{#if item.system.hasPrereqs}}
            <div class="quick-reference">
                Requires:
                {{#each system.prereqs as |value stat|}}
                {{#if value}}
                {{stat}} {{value}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}
            {{#with (lookup config.damageTypes item.system.displayDamage.type) as |damageType|}}
            <div class="quick-reference" style="background-color: {{damageType.color}};">
                <i class="{{damageType.glyph}}"></i> 
                {{../item.system.displayDamage.min}}-{{../item.system.displayDamage.max}} {{damageType.label}}
            </div>
            {{/with}}
            {{#each item.system.displayBonusDamage as |damage|}}
            {{#with (lookup ../config.damageTypes damage.type) as |damageType|}}
            <div class="quick-reference" style="background-color: {{damageType.color}};">
                <i class="{{damageType.glyph}}"></i> 
                {{damage.min}}-{{damage.max}} {{damageType.label}}
            </div>
            {{/with}}
            {{/each}}
            {{#each item.system.statusApplyRolls as |status|}}
            <div class="quick-reference">
                {{status.chance}}% chance to set {{status.id}}
            </div>
            {{/each}}
            <div class="quick-reference">
                Range: {{#if system.range}}{{system.range}} ft.{{else}}Melee{{/if}}
            </div>

            <h3>Bonuses:</h3>
            {{!-- Combat Abilities --}}
            {{#each system.bonuses.combat as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.combatSkills skill)}}
            <div class="quick-reference {{damage}}" data-tooltip="{{label}}">
                {{numberFormat value sign=true decimals=0}}
                {{label}}
            </div>
            {{/with}}
            {{/if}}
            {{/each}}
            {{!-- Civil Abilities --}}
            {{#each system.bonuses.civil as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.civilSkills skill)}}
            <div class="quick-reference" style="background-color: {{color}};" data-tooltip="{{skill}}">
                {{numberFormat value sign=true decimals=0}}
                {{label}}
            </div>
            {{/with}}
            {{/if}}
            {{/each}}
            {{!-- Attributes --}}
            {{#each system.bonuses.abilities as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.abilities skill)}}
            <div class="quick-reference" data-tooltip="{{skill}}">
                {{numberFormat value sign=true decimals=0}}
                {{label}}
            </div>
            {{/with}}
            {{/if}}
            {{/each}}
            {{!-- Misc. bonuses --}}
            {{!-- Crit Chance --}}
            {{#if system.bonuses.crit_chance}}
            <div class="quick-reference">
                {{percent system.bonuses.crit_chance symbol=true sign=true}} Crit Chance
            </div>
            {{!-- Crit Damage --}}
            {{/if}}
            {{#if system.bonuses.crit_bonus}}
            <div class="quick-reference">
                {{percent system.bonuses.crit_bonus symbol=true sign=true}} Crit Damage
            </div>
            {{/if}}
            {{#if system.bonuses.accuracy}}
            {{!-- Accuracy --}}
            <div class="quick-reference">
                {{percent system.bonuses.accuracy symbol=true sign=true}} Accuracy
            </div>
            {{/if}}
            {{#if system.bonuses.evasion}}
            {{!-- Evasion --}}
            <div class="quick-reference">
                {{percent system.bonuses.evasion symbol=true sign=true}} Evasion
            </div>
            {{/if}}
            {{#if system.bonuses.initiative}}
            {{!-- Initiative --}}
            <div class="quick-reference">
                {{numberFormat system.bonuses.initiative sign=true}} Initiative
            </div>
            {{/if}}
            {{!-- Resistances --}}
            <h3>Resistances</h3>
            {{#each system.bonuses.resistance as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.damageTypes skill)}}
            <div class="quick-reference" style="background-color: {{color}};" data-tooltip="{{skill}}">
                {{percent value symbol=true}}
                {{label}}
            </div>
            {{/with}}
            {{/if}}
            {{/each}}
            {{#each system.bonuses.statusImmune as |status|}}
            <div class="quick-reference" data-tooltip="{{status}}">
                Blocks {{status}}
            </div>
            {{/each}}

        </div>
        <div class="item-main">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">Description</a>
                <a class="item" data-tab="attributes">Attributes</a>
                <a class="item" data-tab="effects">Effects</a>
                <a class="item" data-tab="generation">Generation</a>
            </nav>

            {{!-- Sheet Body --}}
            <section class="sheet-body">
                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">
                    {{editor enrichedDescription engine="prosemirror" target="system.description" rollData=rollData
                    button=true owner=owner
                    editable=editable}}
                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes" data-group="primary" data-tab="attributes">
                    <div>
                        <h3>General</h3>
                        <div class="attribute-section">
                            {{!-- Efficiency --}}
                            <div class="general attribute">
                                <label for="system.efficiency" class="resource-label">Efficiency: </label>
                                <input type="text" name="system.efficiency" value="{{system.efficiency}}"
                                    data-dtype="Number" />
                            </div>
                            {{!-- Two Handed --}}
                            <div class="general attribute">
                                <label for="system.twoHanded" class="resource-label">Two Handed?: </label>
                                <input class="check-input" name="system.twoHanded" type="checkbox" {{#if
                                    system.twoHanded}}checked{{/if}} />
                            </div>
                            {{!-- eqipped --}}
                            <div class="general attribute">
                                <label for="system.equipped" class="resource-label">Equipped: </label>
                                <input class="check-input" name="system.equipped" type="checkbox" {{#if
                                    system.equipped}}checked{{/if}} />
                            </div>
                            {{!-- damage type --}}
                            <div class="general attribute">
                                <label for="system.type" class="resource-label">Damage Type: </label>
                                <select class="damage-type-selector" name="system.type">
                                    {{!-- create a dropdown option for each damage type --}}
                                    {{#each config.damageTypes as |data type|}}
                                    <option value="{{type}}" {{#if (eq type ../system.type)}}selected{{/if}}>
                                        {{data.label}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{!-- ability --}}
                            <div class="general attribute">
                                <label for="system.ability" class="resource-label">Ability: </label>
                                <select class="damage-type-selector" name="system.ability">
                                    {{selectOptions config.abilities selected=system.ability}}
                                </select>
                            </div>
                            {{!-- range --}}
                            <div class="general attribute">
                                <label for="system.range" class="resource-label">Range (ft.): </label>
                                <input type="text" name="system.range" value="{{system.range}}" data-dtype="Number"
                                    style="width: 50px;" />
                            </div>
                            {{!-- Bonus Damage --}}
                            <h4>Bonus Damage:</h4>
                            <div class="attribute-section">
                                <li class="item flexrow damage-header" draggable="true">
                                    <div class="damage-type">Type</div>
                                    <div class="damage-amount">Amount (%)</div>
                                    <div class="item-controls">
                                        <a class="item-control damage-create" data-tooltip="Create New Damage Component"
                                            data-type="item">
                                            <i class="fas fa-plus"></i>
                                            Add Damage
                                        </a>
                                    </div>
                                </li>
                                {{!-- create editor for each damage type --}}
                                {{#each system.bonusElements as |damage|}}
                                <li class="item flexrow">
                                    <div class="damage-type">
                                        <select class="damage-type-selector"
                                            name="system.bonusElements[{{@index}}].type" data-index="{{@index}}">
                                            {{!-- create a dropdown option for each damage type --}}
                                            {{#each ../config.damageTypes as |data type|}}
                                            <option value="{{type}}" {{#if (eq type damage.type)}}selected{{/if}}>
                                                {{data.label}}
                                            </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="damage-amount">
                                        <input type="text" name="system.bonusElements[{{@index}}].value"
                                            value="{{damage.value}}" data-index="{{@index}}" />
                                    </div>
                                    <div class="item-controls">
                                        <a class="item-control damage-delete" data-tooltip="Delete Damage Component"
                                            data-type="damage" data-index="{{@index}}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </li>
                                {{/each}}
                            </div>
                        </div>
                        {{> "systems/celestus/templates/item/parts/item-bonuses.hbs"}}
                        {{!-- applied statuses --}}
                        <h3>Applies Statuses</h3>
                        <div class="attribute-section">
                            <li class="item flexrow damage-header" draggable="true">
                                <div class="damage-type">Status Name</div>
                                <div class="item-controls">
                                    <a class="item-control list-create" data-tooltip="Create New StatusEffect"
                                        name="system.appliedStatuses">
                                        <i class="fas fa-plus"></i>
                                        Add Status
                                    </a>
                                </div>
                            </li>
                            {{!-- create editor for each damage type --}}
                            {{#each system.appliedStatuses as |status|}}
                            <li class="item flexrow">
                                <div class="status-type flexrow">
                                    <select class="list-type-selector" name="system.appliedStatuses"
                                        data-index="{{@index}}">
                                        {{#each ../statusEffects as |statusEffect|}}
                                        <option value="{{statusEffect.id}}" {{ifThen (eq statusEffect.id
                                            status) "selected" "" }}>
                                            {{statusEffect.name}}
                                        </option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="item-controls">
                                    <a class="item-control list-delete" data-tooltip="Delete StatusEffect"
                                        name="system.appliedStatuses" data-index="{{@index}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{!-- Active Effects Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                    <ol class="items-list effects-list">
                        {{#each item.system.effects as |section sid|}}
                        <div class="flexcol effect-section">
                            <h3 class="item-name effect-name flexrow">{{sid}}</h3>
                            <li class="items-header flexrow" data-effect-type="{{section.type}}"
                                data-parent-id="{{@root.item.id}}">
                                <div class="effect-source">Name</div>
                                <div class="effect-source">Source</div>
                                <div class="effect-source">Duration</div>
                                <div class="item-controls effect-controls flexrow">
                                    <a class="effect-control" data-action="create" data-tooltip="Create New Effect">
                                        <i class="fas fa-plus"></i> Create New Effect
                                    </a>
                                </div>
                            </li>

                            <ol class="item-list">
                                {{#each section as |effect|}}
                                <li class="item effect flexrow" data-effect-id="{{effect.id}}"
                                    data-parent-id="{{effect.parent.id}}">
                                    <div class="item-name">
                                        <img class="effect-image" src="{{effect.img}}" />
                                        <h4 class="effect-name">{{effect.name}}</h4>
                                    </div>
                                    <div class="effect-source">{{effect.sourceName}}</div>
                                    <div class="effect-duration">{{#if effect.duration.rounds}}
                                        {{effect.duration.rounds}} rounds{{/if}}</div>
                                    <div class="effect-controls">
                                        <a class="effect-control" data-action="toggle" data-tooltip="disable/enable">
                                            <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                                        </a>
                                        <a class="effect-control" data-action="edit" data-tooltip="edit">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="effect-control" data-action="delete" data-tooltip="delete">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                        {{/each}}
                    </ol>
                </div>
                {{!-- Generation Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="generation">
                    {{> "systems/celestus/templates/item/parts/item-creation.hbs"}}
                </div>
            </section>
        </div>
    </div>
</form>